[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/vim-mql"]
	path = bundle/vim-mql
	url = https://github.com/jonatas/vim-mql.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/cfi"]
	path = bundle/cfi
	url = https://github.com/tyru/current-func-info.vim.git
[submodule "syntastic"]
	path = syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
